stages:
  - build
  - test
  - deploy

cache: {}

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

zoe-build:
  stage: build
  tags:
    - docker
  image: rustlang/rust:nightly
  script:
    - cargo build --all-features
    - cargo check
    - cargo check --no-default-features
  artifacts:
    paths:
      - .cargo
      - target
    expire_in: 12 hours

zoe-test:
  stage: test
  tags:
    - docker
  image: rustlang/rust:nightly
  dependencies:
    - zoe-build
  script:
    - perl .github/scripts/check_versions_changelog.pl
    - cargo test --all-features
    - cargo test --no-run
    - cargo test --no-run --no-default-features
    - cargo doc --no-deps --document-private-items --all-features
  artifacts:
    paths:
      - target/doc
    expire_in: 12 hours

pages:
  stage: deploy
  image: rustlang/rust:nightly
  tags:
    - pages
  dependencies:
    - zoe-test
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    - mv target/doc public/
    - echo "<meta http-equiv=\"refresh\" content=\"0; url=${CI_PROJECT_TITLE}\">" > public/index.html
  artifacts:
    paths:
      - public
